{% extends 'base1.html' %}

{% block title %}
    Новости
{% endblock %}
{% block style %}
 <style>
  .container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
  </style>
{% endblock %}

{% block content %}
    {% for post in news %}
        <div class="container">
            <div class="image">
                <img src="{{ post.image.url }}">
            </div>
            <div class="text">
                <h1>Paris is one of the most magnificient cities in France.</h1>
            </div>
        </div>



        {#        <div class="container">#}
        {#            <div class="col-md-12 col-lg-12">#}
        {#                <article class="post vt-post">#}
        {#                    <div class="row">#}
        {#                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">#}
        {#                            <div class="post-type post-img">#}
        {#                                <a href="/news/{{ post.id }}"><img src="{{ post.image.url }}"#}
        {#                                                                   class="img-responsive" alt="image post"></a>#}
        {#                            </div>#}
        {#                            <div class="author-info author-info-2">#}
        {#                                <ul class="list-inline">#}
        {#                                    <li>#}
        {#                                        <div class="info">#}
        {#                                            <p>Публикация: {{ post.date_posted }}</p></div>#}
        {#                                        <br>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">#}
        {#                            <div class="caption">#}
        {#                                <h3 class="md-heading">{{ post.title }}</h3>#}
        {#                                <p>{{ post.content|slice:500 }}... </p>#}
        {#                                <a class="btn btn-secondary" href="/news/{{ post.id }}" role="button">Читать</a></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </article>#}
        {#            </div>#}
        {#        </div>#}
    {% endfor %}

{% endblock %}  