.dockerignore
.env
.env_db
.env.prod.db
.env.prod
.idea
venv

app/Dockerfile
docker-compose.yml
app/items/migrations
app/users/migrations

app/items/__pycache__
app/store/__pycache__
app/users/__pycache__
venv
.idea
*.loggit
*.pot
*.pyc
__pycache__
db.sqlite3
app/media
app/staticfiles

app/templates





# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/



# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/