{% extends '../base.html' %}
{% block content %}


    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/affordability-facebook-og?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1600376390000');
      height: 600px; width: 1200px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.35);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Мы открылись</h1>
                    <h4 class="mb-3">- 15% на всю продукцию!</h4>
                    <a class="btn btn-outline-light btn-lg" href="/all" role="button">К покупкам</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    </header>
{% endblock %}