{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock %}

{% block content %}

    <div align="center">
        <div id="carouselExample" class="carousel slide" style="max-width: 700px">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/site/респешн.jpeg" style="max-width: 900px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/site/айфоны.jpeg" style="max-width: 900px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/media/site/фоис.jpeg" style="max-width: 900px" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>
    <div style="margin-left:50px" align="center">Покупаем всю продукцию Apple в Турции и провозим в Россию.

        <p>Работаем без выходных с 10:30 до 20:00</p>
        <p>Доставляем Почтой России и CDEK, а по Москве - курьером</p>
    </div>
{% endblock %}